*{
    margin: 0;
    padding: 0;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.pmfont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav bar style start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 180px;
}




.span-head{
    color: #FD6E0A;
}

.nav-head{
    font-size: 45px;
    font-weight: 800;
   
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul a{
    text-decoration: none;
    
}
.dark-2{
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
nav ul{
   display: flex;  
   align-items: center;
}
.primary-btn{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    color: #FFF8F3;
    border-radius: 5px;
    border: none;
}

/* hrader section start */

header{
    background-image: url(../Images/developer.png) , url(../Images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
   
.header-menu{
    display: flex;
    justify-content: space-between;
    margin: 0 32px 0 175px;
}
.head-1{
    font-size: 45px;
    font-weight: 600;
}
.head-2{
    font-size: 85px;
    font-weight: 700;

}
.primary-paragraph-1{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}
.header-menu-2{
    max-width: 585px;

}