*{
    margin: 0;
    padding: 0;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.pmfont {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav bar style start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 180px;
}




.span-head{
    color: #FD6E0A;
}

.nav-head{
    font-size: 45px;
    font-weight: 800;
   
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul a{
    text-decoration: none;
    
}
.dark-2{
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
nav ul{
   display: flex;  
   align-items: center;
}
.primary-btn{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    color: #FFF8F3;
    border-radius: 5px;
    border: none;
}

/* hrader section start */

header{
    background-image: url(../Images/developer.png) , url(../Images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
   
.header-menu{
    display: flex;
    justify-content: space-between;
    margin: 0 32px 0 175px;
}
.head-1{
    font-size: 45px;
    font-weight: 600;
}
.head-2{
    font-size: 85px;
    font-weight: 700;

}
.primary-paragraph-1{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;

}
.header-menu-2{
    max-width: 585px;
    margin: 300px 0 128px 
    
    
    /* main style start; */
}

main{
    max-width: 1140px;
    margin: 120px auto;
}
.section-1{
    background-color: #FFF8F3;
    text-align: center;
}
.main-part-1{
    max-width: 825px;
    padding: 130px 160px;
}
.about-head{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;

}
.mardy-1{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.about-head{
    text-align: center;
    margin-top: 130px ;
}
.me{
    /* width: 910px; */
    text-align: center;
    padding: 30px 145px;
  
}
.card{
    display: flex;
    gap: 25px;
}
.language-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 35px;
}
.heading-language-card{
    padding: 33px 33px 33px 0;
}
.resume-container{
    display: flex;
    gap: 25px;
}
.experience{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
.experience-tittle{
    padding-top: 10px;
    padding-bottom: 10px;
}
.experience-sub-tittle{
    padding-top: 10px;
    padding-bottom: 10px;
}
.comumn-tittle{
   
}
.resume-head{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 110px;
}